<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <title>ESPWebsite</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <link rel="icon" href="../static/favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script type="text/javascript">
        var loadInterval;

        windows.addEventListener("beforeunload", function() {
            clearInterval(loadInterval);
        });
    </script>
</head>

<body>
    <div class="wrapper">
        <div class="topbar"></div>
        <input type="checkbox" id="menuToggler" class="input-toggler" value="1" autofocus="true" />
        <label for="menuToggler" id="menuTogglerLabel" class="menu-toggler" role="button" aria-pressed="false" aria-expanded="false" aria-label="Navigation button">
        <span class="menu-toggler__line"></span>
        <span class="menu-toggler__line"></span>
        <span class="menu-toggler__line"></span>
      </label>
        <nav id="sidebar" class="sidebar" role="navigation" aria-labelledby="menuTogglerLabel" aria-hidden="true">
            <ul id="menubar" class="menu" role="menubar" aria-orientation="vertical">
                <li class="menu_item" role "none" style="background-color: #1b1a20; box-shadow: inset 0 8px 5px -5px rgba(0,0,0,0.2), inset 0 -8px 5px -5px rgba(0,0,0,0.2);"><a class="menu__link" href="#" role="menuitem" tabindex="-1">Controls</a></li>
                <li class="menu_item" role "none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">Setup</a></li>
                <li class="menu_item" role "none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">Network</a></li>
            </ul>
        </nav>
        <main id="content">
            <!-- possible Information for Tabs:
            Controls:
                - Devices visualized as "cards"
                - Color Wheels for every Device
                - Custom colors list
                - Option to add custom colors
                - Animations?
            Setup:
                - Connected Devices
                - Devices waiting to connect
                - Networks
            Network: 
                - Mesh Overview
                - Data transferred in certain amount of time
                - Uptime
                - Errors?
                - Log           
            -->
            {{controllers|safe}}
        </main>
        <script type="text/javascript">
            let content = document.getElementById("content");
            let menuButtons = document.getElementsByClassName("menu__link");
            let controlsButton = menuButtons[0];
            let setupButton = menuButtons[1];
            let networkButton = menuButtons[2];


            controlsButton.addEventListener("click", function() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        clearInterval(loadInterval);
                        content.innerHTML = this.responseText;
                        exec_body_scripts(content);
                    }
                };
                xhttp.open("GET", "/controls", true);
                xhttp.send();
            });

            setupButton.addEventListener("click", function() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        clearInterval(loadInterval);
                        content.innerHTML = this.responseText;
                        exec_body_scripts(content);
                    }
                };
                xhttp.open("GET", "/setup", true);
                xhttp.send();
            });

            networkButton.addEventListener("click", function() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        clearInterval(loadInterval);
                        content.innerHTML = this.responseText;
                        exec_body_scripts(content);
                    }
                };
                xhttp.open("GET", "/network", true);
                xhttp.send();
            });
        </script>
        <script type="text/javascript">
            let menuToggler = document.getElementById('menuToggler');
            let menuTogglerLabel = document.getElementById('menuTogglerLabel');
            let sidebar = document.getElementById('sidebar');
            let menuLinks = document.getElementsByClassName('menu__link');

            menuToggler.addEventListener('change', function() {
                if (menuToggler.checked) {
                    menuTogglerLabel.setAttribute('aria-pressed', 'true');
                    sidebar.setAttribute('aria-hidden', 'false');
                } else {
                    menuTogglerLabel.setAttribute('aria-pressed', 'false');
                    sidebar.setAttribute('aria-hidden', 'true');
                }

                for (let menuLink of menuLinks) {
                    if (menuToggler.checked) {
                        menuLink.setAttribute('tabindex', '0');
                    } else {
                        menuLink.setAttribute('tabindex', '-1');
                    }
                }
            });

            let menuItems = document.getElementsByClassName('menu_item');

            for (let menuLink of menuLinks) {
                menuLink.addEventListener('click', function() {
                    for (let menuItem of menuItems) {
                        menuItem.style.backgroundColor = "#1d1d25";
                        menuItem.style.boxShadow = "";
                    }
                    menuLink.parentElement.style.backgroundColor = "#1b1a20";
                    menuLink.parentElement.style.boxShadow = "inset 0 8px 5px -5px rgba(0,0,0,0.2), inset 0 -8px 5px -5px rgba(0,0,0,0.2)";
                });
            }
        </script>
        <script>
            function exec_body_scripts(body_el) {
                // Finds and executes scripts in a newly added element's body.
                // Needed since innerHTML does not run scripts.
                //
                // Argument body_el is an element in the dom.

                function nodeName(elem, name) {
                    return elem.nodeName && elem.nodeName.toUpperCase() ===
                        name.toUpperCase();
                };

                function evalScript(elem) {
                    var data = (elem.text || elem.textContent || elem.innerHTML || ""),
                        head = document.getElementsByTagName("head")[0] ||
                        document.documentElement,
                        script = document.createElement("script");

                    script.type = "text/javascript";
                    try {
                        // doesn't work on ie...
                        script.appendChild(document.createTextNode(data));
                    } catch (e) {
                        // IE has funky script nodes
                        script.text = data;
                    }

                    head.insertBefore(script, head.firstChild);
                    head.removeChild(script);
                };

                // main section of function
                var scripts = [],
                    script,
                    children_nodes = body_el.childNodes,
                    child,
                    i;

                for (i = 0; children_nodes[i]; i++) {
                    child = children_nodes[i];
                    if (nodeName(child, "script") &&
                        (!child.type || child.type.toLowerCase() === "text/javascript")) {
                        scripts.push(child);
                    }
                }

                for (i = 0; scripts[i]; i++) {
                    script = scripts[i];
                    if (script.parentNode) {
                        script.parentNode.removeChild(script);
                    }
                    evalScript(scripts[i]);
                }
            };
        </script>
    </div>
</body>

</html>